<div>
    <div  class="text-center mb-4">
        <h1>Registro de Usuarios</h1>
    </div>
    <div  class="text-center mb-4">
        <form [formGroup]="formCarrito" (submit)="insertar()">
          
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="hcodigo">
          </mat-form-field>
          <br/>
        <mat-form-field class="example-full-width">
          <mat-label>Cantidad</mat-label>
          <input matInput  formControlName="hcantidad">
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="hprecio">
          </mat-form-field>
          <br/>
        <mat-form-field class="example-full-width">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="hestado">
        </mat-form-field>
        <br/>
      
       <div><button mat-flat-button>Registrar</button></div>
      </form>
      </div>
</div>