<div>
    <div  class="text-center mb-4">
        <h1>Registro de Pedidos</h1>
    </div>
    <div class="text-center mb-4">
        <form [formGroup]="form" (submit)="insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input matInput formControlName="hcodigo">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Fecha de Pedido</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hfechapedido">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br/>  
        <mat-form-field>
            <mat-label>Fecha de Entrega</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="hfechaentrega">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br/>      
       
        <mat-form-field class="example-full-width">
            <mat-label>Estado</mat-label>
            <input matInput formControlName="hestado">
          </mat-form-field>
          <br/>
        
          <mat-form-field>
            <mat-label>Cantidad de Productos</mat-label>
            <mat-select  formControlName="hcarritoproducto">
              @for (food of listacarritop; track food) {
              <mat-option [value]="food.idCarritoXProducto">{{ food.cantidadCarrito }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        <br/>
       <div><button mat-flat-button>Registrar</button></div>
      </form>
      </div>
</div>