<div>
    <div  class="text-center mb-4">
        <h1>Registro de Metodos de Pagos</h1>
    </div>
    <div class="text-center mb-4">
        <form [formGroup]="form" (submit)="insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Codigo</mat-label>
          <input matInput formControlName="hcodigo">
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <textarea matInput placeholder="Contenido" formControlName="hnombre"></textarea>
          </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width" >
            <mat-label>Tipo</mat-label>
            <input matInput formControlName="htipo">
          </mat-form-field>
          <br/>
        
          <mat-form-field>
            <mat-label>Productos</mat-label>
            <mat-select  formControlName="hproductos">
              @for (food of listaproductos; track food) {
              <mat-option [value]="food.idProducto">{{ food.nombreProducto }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        <br/>
       <div><button mat-flat-button>Registrar</button></div>
      </form>
      </div>
</div>