<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Ofertas</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container my-5">
    <div class="row align-items-center mb-6">
        <div class="col-md-6">
            <h2 class="text-uppercase ">Misión</h2>
            <p class="text-justify" style="color: #333;">
                Nuestra misión es reducir el desperdicio de alimentos proporcionando una plataforma donde los productos cercanos a vencer puedan ser vendidos a precios reducidos. Buscamos conectar a los consumidores conscientes con los vendedores para fomentar el consumo sostenible y responsable.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <!-- Aquí puedes agregar una imagen relacionada con la misión -->
            <img src="assets/comida.jpg" class="img-fluid" alt="Imagen relacionada con la misión">
        </div>
    </div>

    <div class="row align-items-center mb-6 flex-row-reverse">
        <div class="col-md-6">
            <h2 class="text-uppercase  mb-3">Visión</h2>
            <p class="text-justify">
                Ser la plataforma líder en la reducción de desperdicio de alimentos en la región, promoviendo un estilo de vida sostenible y accesible para todos, donde los productos cercanos a vencer encuentren una segunda oportunidad antes de ser desechados.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <!-- Aquí puedes agregar una imagen relacionada con la visión -->
            <img src="assets/alimentos.jpg" class="img-fluid" alt="Imagen relacionada con la visión">
        </div>
    </div>

    <div class="row align-items-center mb-6">
        <div class="col-md-6">
            <h2 class="text-uppercase  mb-3">Quiénes Somos</h2>
            <p class="text-justify">
                DameTuYapa es una empresa comprometida con la sostenibilidad y la reducción del desperdicio de alimentos. Creemos en dar una segunda oportunidad a los productos que aún están en perfecto estado, ayudando tanto a los vendedores a reducir pérdidas, como a los consumidores a acceder a productos de calidad a precios más bajos.
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <!-- Aquí puedes agregar una imagen relacionada con quiénes somos -->
            <img src="assets/dtyp.png" class="img-fluid" alt="Imagen relacionada con quiénes somos">
        </div>
    </div>
</div>

<!-- Incluyendo Bootstrap JS desde la CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
