<div class="featured-products">
  <h2>Productos Destacados</h2>
  <div class="products-list">
    <div class="product-card">
      <img src="/src/assets/leche.jpg" alt="producto 1" class="img"  >
      <h3>Producto 1</h3>
      <p>Precio: $15.00</p>
      <p>Unidades disponibles: 10</p>
      <button>Agregar al Carrito</button>
    </div>
    <div class="product-card">
      <img src="/src/assets/leche.jpg" alt="Producto 2">
      <h3>Producto 2</h3>
      <p>Precio: $20.00</p>
      <p>Unidades disponibles: 5</p>
      <button>Agregar al Carrito</button>
    </div>
  </div>
</div>

<div class="mission-vision">
  <h2>Misión</h2>
  <p>
    Nuestra misión es reducir el desperdicio de alimentos proporcionando una plataforma donde los productos cercanos a vencer puedan ser vendidos a precios reducidos. Buscamos conectar a los consumidores conscientes con los vendedores para fomentar el consumo sostenible y responsable.
  </p>

  <h2>Visión</h2>
  <p>
    Ser la plataforma líder en la reducción de desperdicio de alimentos en la región, promoviendo un estilo de vida sostenible y accesible para todos, donde los productos cercanos a vencer encuentren una segunda oportunidad antes de ser desechados.
  </p>

  <h2>Quiénes Somos</h2>
  <p>
    DameTuYapa es una empresa comprometida con la sostenibilidad y la reducción del desperdicio de alimentos. Creemos en dar una segunda oportunidad a los productos que aún están en perfecto estado, ayudando tanto a los vendedores a reducir pérdidas, como a los consumidores a acceder a productos de calidad a precios más bajos.
  </p>
</div>
