<div class="styled-form">
  <div class="title text-center">
      Registro de Usuarios
  </div>
  <div class="form-container text-center mb-4">
      <form [formGroup]="form" (submit)="insertar()">
          <mat-form-field class="input-field" *ngIf="edicion" appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput formControlName="hcodigo">
          </mat-form-field>
          
          <mat-form-field class="input-field" appearance="outline">
              <mat-label>DNI</mat-label>
              <input matInput formControlName="hdni">
              <mat-error *ngIf="form.get('hdni')?.hasError('required') && (form.get('hdni')?.touched || form.get('hdni')?.dirty)">
                  El campo es obligatorio.
              </mat-error>
              <mat-error *ngIf="form.get('hdni')?.hasError('pattern') && (form.get('hdni')?.touched || form.get('hdni')?.dirty)">
                  DNI solo acepta números.
              </mat-error>
          </mat-form-field>
          
          <mat-form-field class="input-field" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Miguel" formControlName="hnombre">
              <mat-error *ngIf="form.get('hnombre')?.hasError('required') && (form.get('hnombre')?.touched || form.get('hnombre')?.dirty)">
                  El campo es obligatorio.
              </mat-error>
          </mat-form-field>
          
          <mat-form-field class="input-field" appearance="outline">
              <mat-label>Dirección</mat-label>
              <input matInput placeholder="Huaylas" formControlName="hdireccion">
              <mat-error *ngIf="form.get('hdireccion')?.hasError('required') && (form.get('hdireccion')?.touched || form.get('hdireccion')?.dirty)">
                  El campo es obligatorio.
              </mat-error>
          </mat-form-field>
          
          <mat-form-field class="input-field" appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="gabj@gmail.com" formControlName="hcorreo">
              <mat-error *ngIf="form.get('hcorreo')?.hasError('required') && (form.get('hcorreo')?.touched || form.get('hcorreo')?.dirty)">
                  El campo es obligatorio.
              </mat-error>
              <mat-error *ngIf="form.get('hcorreo')?.hasError('email')">
                  Debe ser un correo electrónico válido.
              </mat-error>
          </mat-form-field>
          
          <mat-form-field class="input-field" appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="990991234" formControlName="htelefono">
              <mat-error *ngIf="form.get('htelefono')?.hasError('required') && (form.get('htelefono')?.touched || form.get('htelefono')?.dirty)">
                  El campo es obligatorio.
              </mat-error>
              <mat-error *ngIf="form.get('htelefono')?.hasError('pattern') && (form.get('htelefono')?.touched || form.get('htelefono')?.dirty)">
                  Número solo acepta 9 dígitos.
              </mat-error>
          </mat-form-field>
          
          <mat-form-field class="input-field" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="gabcom" formControlName="husername">
              <mat-error *ngIf="form.get('husername')?.hasError('required') && (form.get('husername')?.touched || form.get('husername')?.dirty)">
                  El campo es obligatorio.
              </mat-error>
          </mat-form-field>
          
          <mat-form-field class="input-field" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="gabcom" formControlName="hpassword">
              <mat-error *ngIf="form.get('hpassword')?.hasError('required') && (form.get('hpassword')?.touched || form.get('hpassword')?.dirty)">
                  El campo es obligatorio.
              </mat-error>
          </mat-form-field>
          
          <div class="button-container">
              <button
                  mat-flat-button
                  [color]="form.get('henabled')?.value ? 'primary' : 'warn'"
                  (click)="toggleEnabled()"
                  type="button"
              >
                  {{ form.get('henabled')?.value ? 'Enabled (True)' : 'Disabled (False)' }}
              </button>
          </div>
          
          <div class="button-container">
              <button mat-flat-button class="custom-button" [disabled]="form.invalid">Registrar</button>
          </div>
      </form>
  </div>
</div>